# Operating Systems
.DS_Store
**/Thumbs.db
*:Zone.Identifier

# Node
node_modules

# Local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Monorepo Exclusions
packages/*/node_modules
packages/*/build
packages/*/dist
packages/*/coverage
